.app-container {
    display: flex;
  }
  
  .main-layout {
    display: flex;
    width: 100%;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }

  body{
    background-image: radial-gradient(circle, #b7ece0 10%, #ffffff 90%);
  }
  