.app-container {
    display: flex;
  }
  
  .main-layout {
    display: flex;
    width: 100%;
  }
  
  .content {
    margin-left: 250px; /* תואם לרוחב ה-sidebar */
    flex-grow: 1;
    padding: 20px;
  }
  